<template>
  <div>
    <b-navbar :sticky="true" toggleable="lg" type="dark" variant="success">
      <b-navbar-brand to="/">
        <img src="https://placekitten.com/g/30/30" class="d-inline-block align-top" alt="BV">
        Top YT
      </b-navbar-brand>

      <b-navbar-toggle target="nav_collapse" />
    </b-navbar>
  </div>
</template>
