<template>
  <div class="page-container">
    <div class="yt-details pt-5">
      <b-card
        :title="youtuber.Name"
        :sub-title="youtuber.Grade"
        :img-src="`https://picsum.photos/600/300/?image=${youtuber.id}`"
        img-alt="Image"
        img-top
        tag="article"
        class="mb-2"
      >
        <b-card-text>
          <div class="mt-3">
            <b-button-group>
              <b-button variant="info">
                Subscribers
                <b-badge variant="dark" v-text="youtuber.Subscribers" />
              </b-button>
              <b-button variant="info">
                Uploads
                <b-badge variant="dark" v-text="youtuber.Uploads" />
              </b-button>
              <b-button variant="info">
                Views
                <b-badge variant="dark" v-text="youtuber.Views" />
              </b-button>
            </b-button-group>
          </div>
        </b-card-text>

        <b-button to="/" variant="">
          Back
        </b-button>
      </b-card>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
export default {
   data: () => ({}),

   computed: {
      ...mapState(['youtuber']),
   },

   watch: {},

   asyncData({ store, route }) {
      const { youtuberId } = route.params;
      return Promise.all([
         store.dispatch('FETCH_YT_DETAILS', {
            id: youtuberId,
         }),
      ]);
   },

   methods: {},
};
</script>

<style lang="scss" scoped>
.page-container {
   .yt-details {
      padding: 0 35%;
   }
}
</style>
