<template>
  <div class="row yt-container">
    <div class="list-items col-12">
      <h1>Top Youtube channels</h1>
      <div class="pb-5 pb-5">
        <b-form-input v-model="search" type="text" placeholder="channel name" />
      </div>

      <div class="row">
        <div class="col-7">
          <b-list-group>
            <b-list-group-item
              v-for="(item,index) in orderedData"
              :key="index"
              :to="`/youtuber/${item.id}`"
              v-text="item.Name"
            />
          </b-list-group>
        </div>

        <div class="col-5">
          <div class="row">
            <div class="col-6">
              <div>
                <b-form-group label="Order By">
                  <b-form-radio v-model="orderValue" value="" name="None">
                    None
                  </b-form-radio>
                  <b-form-radio v-model="orderValue" value="Uploads" name="Uploads">
                    Uploads
                  </b-form-radio>
                  <b-form-radio v-model="orderValue" value="Views" name="Views">
                    Views
                  </b-form-radio>
                  <b-form-radio v-model="orderValue" value="Subscribers" name="Subscribers">
                    Subscribers
                  </b-form-radio>
                </b-form-group>
              </div>
            </div>
            <div class="col-6">
              <div>
                <b-form-group label="Filter by grades">
                  <b-form-radio v-model.trim="filterValue" value="" name="None">
                    None
                  </b-form-radio>
                  <b-form-radio v-model.trim="filterValue" value="A++" name="Grade">
                    A++
                  </b-form-radio>
                  <b-form-radio v-model.trim="filterValue" value="A+" name="Grade">
                    A+
                  </b-form-radio>
                  <b-form-radio v-model.trim="filterValue" value="A" name="Grade">
                    A
                  </b-form-radio>
                  <b-form-radio v-model.trim="filterValue" value="A-" name="Grade">
                    A-
                  </b-form-radio>
                  <b-form-radio v-model.trim="filterValue" value="B+" name="Grade">
                    B+
                  </b-form-radio>
                </b-form-group>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="mt-3 text-center">
        <b-pagination
          v-model="currentPage"
          align="center"
          :total-rows="count"
          :per-page="perPage"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import _ from 'lodash';

export default {
   data: () => ({
      currentPage: 1,
      perPage: 10,
      search: '',
      orderValue: '',
      filterValue: '',
   }),

   computed: {
      ...mapState({
         ytItems: state => state.topYTList.data,
         count: state => state.topYTList.count,
      }),

      orderedData() {
         const data =
            this.filterValue !== '' &&
            this.ytItems.filter(item => {
               return item.Grade.trim() === this.filterValue;
            });
         return _.orderBy(data || this.ytItems, this.orderValue);
      },
   },

   watch: {
      currentPage() {
         this.fetchData();
      },

      search() {
         this.fetchSearchData();
      },
   },

   asyncData({ store }) {
      return Promise.all([store.dispatch('FETCH_YT_CHANNELS', {})]);
   },

   methods: {
      async fetchData() {
         await this.$store.dispatch('FETCH_YT_CHANNELS', {
            limit: 10,
            offset: (this.currentPage === 1 ? 0 : this.currentPage) * 10,
         });
      },

      async fetchSearchData() {
         await this.$store.dispatch('FETCH_SEARCH_QUERY', {
            words: this.search,
            limit: 10,
            offset: (this.currentPage === 1 ? 0 : this.currentPage) * 10,
         });
      },
   },
};
</script>

<style lang="scss" scoped>
.yt-container {
   .list-items {
      padding: 0 30%;
      h1 {
         padding: 50px 0 30px;
      }
   }
}
</style>
